<div class="ecmCenterPane">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-atatch-point="mainContainer" data-dojo-props="gutters:true">
        <div>Inside border pane</div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:false" data-dojo-attach-point="searchArea">
            <input data-dojo-type="dijit/form/TextBox" data-dojo-atatch-point="searchText"> </input>
            <button  data-dojo-type="dijit/form/Button"  data-dojo-attach-event="onClick: searchDocuments"> Search Documents</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
            <div data-dojo-type="gridx/Grid" data-dojo-atatch-point="documents"></div>
        </div>
    </div>
</div>