<div class="ecmCenterPane">
    <p> This is just a sample </p>
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-atatch-point="mainContainer" data-dojo-props="gutters:true">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true,region:'top'" data-dojo-attach-point="searchArea">
                <div data-dojo-type="dijit/form/TextBox" data-dojo-atatch-point="searchText"> </div>
                <div  data-dojo-type="dijit/form/Button"  data-dojo-attach-event="onClick: searchDocuments"> Search Documents</div>
            </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
            <div data-dojo-type="gridx/Grid" data-dojo-atatch-point="documents"></div>
        </div>
    </div>
</div>